{% extends 'base.html' %}

{% block body1 %}

    <div class="container">
        <div class="row mt-2">

            <!-- 文章内容 -->
            <div class="col-sm-8">
                {% for article in articles %}
                    <!-- 卡片容器 -->
                    <div class="card">
                        <div class="card-body">
                            <!-- 标题 -->
                            <h4 class="card-title">{{ article.title }}</h4>
                            <!-- 摘要 -->
                            <p class="card-text">{{ article.desc }}
                            </p>
                            <a href="{{ url_for("blog.read", number=article.id) }}" class="card-link">阅读本文</a>
                        </div>
                    </div>
                    <br>
                    {% if loop.last %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center mt-5">
                                <li class="page-item {% if articles.is_first %}disabled{% endif %}">
                                    <a class="page-link"
                                       href="{{ url_for('blog.index', page_index=1, page_size=g.d_page_size) }}">First</a>
                                </li>
                                <li class="page-item {% if articles.is_first %}disabled{% endif %}">
                                    <a class="page-link"
                                       href="{{ url_for('blog.index', page_index=g.d_page_index - 1, page_size=g.d_page_size) }}">Prev</a>
                                </li>
                                {% for _page in articles.show_index() %}
                                    <li class="{{ _page.cls }}">
                                        <a class="page-link"
                                           {% if not _page.current %}
                                           href={{ url_for('blog.index', page_index=_page.index, page_size=g.d_page_size) }}
                                           {% endif %}
                                        >{{ _page.index }}</a>
                                    </li>
                                {% endfor %}


                                <li class="page-item {% if articles.is_last %}disabled{% endif %}">
                                    <a class="page-link"
                                       href="{{ url_for('blog.index', page_index=g.d_page_index + 1, page_size=g.d_page_size) }}">Next</a>
                                </li>
                                <li class="page-item {% if articles.is_last %}disabled{% endif %}">
                                    <a class="page-link"
                                       href="{{ url_for('blog.index', page_index=articles.last_page, page_size=g.d_page_size) }}">Last</a>
                                </li>
                            </ul>
                        </nav>
                    {% endif %}
                {% endfor %}
            </div>
            {% if categories %}
                <div class="col-sm-4 sidebar">
                    <div class="card mb-3">
                        <div class="card-header">
                            <a href={{ url_for('blog.category') }}>文章分类</a>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for category in categories %}
                                <li class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center">
{#                                    <a href="{{ url_for('blog.read') }}">#}
                                        {{ category.category }}
                                    </a>
                                    <span class="badge badge-primary badge-pill"> {{ category.posts|length }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            {% endif %}
            {% if hot_arts %}
                <div class="col-sm-4 sidebar">
                    <div class="card mb-3">
                        <div class="card-header">Articles</div>
                        <ul class="list-group list-group-flush">
                            {% for hot_art in hot_arts %}
                                <li class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center">
                                    <a href="{{ url_for('blog.read', number=hot_art.id) }}">
                                        {{ hot_art.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            {% endif %}
            {% if hot_auths %}
                <div class="col-sm-4 sidebar">
                    <div class="card mb-3">
                        <div class="card-header">Authors</div>
                        <ul class="list-group list-group-flush">
                            {% for hot_auth in hot_auths %}
                                <li class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center">
                                    <a href="{{ url_for('blog.read', number=hot_auth.id) }}">
                                        {{ hot_auth.name }}
                                    </a>
                                    <span class="badge badge-primary badge-pill"> {{ hot_auth.posts|length }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            {% endif %}


        </div>


    </div>
{% endblock body1 %}